Repository dergunovs/mhz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

chore: update package json
  README.md
  package.json
Due: none

chore: bump version
  apps/admin/package.json
  apps/back/package.json
  package-lock.json
  package.json
  packages/countries/package.json
  packages/helpers/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/validate/package.json
Due: none

feat: image preview
  apps/admin/src/modules/category/components/CategoryFieldList.vue
  apps/admin/src/modules/category/components/CategoryForm.vue
  apps/admin/src/modules/category/components/CategoryList.vue
  apps/admin/src/modules/common/components/ImagePreview.vue
  apps/admin/src/modules/manager/components/ManagerList.vue
  apps/admin/src/modules/manufacturer/components/ManufacturerForm.vue
  apps/admin/src/modules/manufacturer/components/ManufacturerList.vue
  apps/admin/src/modules/product/components/ProductFieldsForm.vue
  apps/admin/src/modules/product/components/ProductForm.vue
  apps/admin/src/modules/product/components/ProductList.vue
Due: eslint, stylelint

feat: form buttons
  apps/admin/src/modules/category/components/CategoryForm.vue
  apps/admin/src/modules/common/components/FormButtons.vue
  apps/admin/src/modules/manager/components/ManagerForm.vue
  apps/admin/src/modules/manufacturer/components/ManufacturerForm.vue
  apps/admin/src/modules/product/components/ProductForm.vue
Due: eslint, stylelint

chore: remove lint staged
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Due: none

fix: husky command
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update readme
  README.md
Due: none

feat: coolers dump
  apps/back/dump/mhz/categories.bson
  apps/back/dump/mhz/manufacturers.bson
  apps/back/dump/mhz/products.bson
  apps/back/public/upload/resized-1692025202269-be-quiet.png
  apps/back/public/upload/resized-1692025280026-thermaltake.png
  apps/back/public/upload/resized-1692025356378-ZALMAN.png
  apps/back/public/upload/resized-1692026274257-d-1.jpg
  apps/back/public/upload/resized-1692026274311-d-2.jpg
  apps/back/public/upload/resized-1692026455311-1-1.jpg
  apps/back/public/upload/resized-1692026455417-1-2.jpg
  apps/back/public/upload/resized-1692026668935-2-1.jpg
  apps/back/public/upload/resized-1692026669022-2-2.jpg
  apps/back/public/upload/resized-1692026823501-3-1.jpg
  apps/back/public/upload/resized-1692026823601-3-2.jpg
  apps/back/public/upload/resized-1692026944907-4-1.jpg
  apps/back/public/upload/resized-1692026945007-4-2.jpg
  apps/back/public/upload/resized-1692027024504-5-1.jpg
  apps/back/public/upload/resized-1692027024590-5-2.jpg
  apps/back/public/upload/resized-1692027148750-1-1.jpg
  apps/back/public/upload/resized-1692027148847-1-2.jpg
  apps/back/public/upload/resized-1692027268687-2-1.jpg
  apps/back/public/upload/resized-1692027268788-2-2.jpg
  apps/back/public/upload/resized-1692027434424-3-1.jpg
  apps/back/public/upload/resized-1692027434525-3-2.jpg
  apps/back/public/upload/resized-1692027512826-4-1.jpg
  apps/back/public/upload/resized-1692027512920-4-2.jpg
  apps/back/public/upload/resized-1692027600233-5-1.jpg
  apps/back/public/upload/resized-1692027600272-5-2.jpg
  apps/back/public/upload/resized-1692027684867-6-1.jpg
  apps/back/public/upload/resized-1692027684951-6-2.jpg
Due: none

feat: use page
  apps/admin/src/modules/category/pages/CategoryListPage.vue
  apps/admin/src/modules/manager/pages/ManagerListPage.vue
  apps/admin/src/modules/manufacturer/pages/ManufacturerListPage.vue
  apps/admin/src/modules/product/pages/ProductListPage.vue
  apps/back/dump/mhz/categories.bson
  apps/back/dump/mhz/manufacturers.bson
  apps/back/public/upload/resized-1692035428065-Fractal_Design.png
  apps/back/public/upload/resized-1692035745661-lian-li.png
  apps/back/src/helpers/index.ts
  apps/back/src/routes/api/category/index.ts
  apps/back/src/routes/api/manager/index.ts
  apps/back/src/routes/api/manufacturer/index.ts
  apps/back/src/routes/api/product/index.ts
  package-lock.json
  packages/helpers/package.json
  packages/helpers/src/composables/index.ts
  packages/helpers/src/composables/usePage.ts
  packages/helpers/vite.config.ts
Due: eslint, stylelint

feat: use infinite scroll
  .husky/pre-commit
  .husky/pre-push
  apps/admin/src/modules/product/components/ProductForm.vue
  packages/helpers/src/composables/index.ts
  packages/helpers/src/composables/useInfiniteScroll.ts
  packages/helpers/src/composables/usePage.ts
Due: eslint, stylelint

feat: cases dump
  apps/admin/src/modules/product/components/ProductForm.vue
  apps/back/dump/mhz/products.bson
  apps/back/public/upload/resized-1692089908899-1-1.jpg
  apps/back/public/upload/resized-1692089908944-1-2.jpg
  apps/back/public/upload/resized-1692090226867-1-1.jpg
  apps/back/public/upload/resized-1692090226945-1-2.jpg
  apps/back/public/upload/resized-1692090392910-2-1.png
  apps/back/public/upload/resized-1692090393054-2-2.jpg
  apps/back/public/upload/resized-1692090573918-3-1.jpg
  apps/back/public/upload/resized-1692090574016-3-2.jpg
  apps/back/public/upload/resized-1692090705688-4-1.jpg
  apps/back/public/upload/resized-1692090705784-4-2.jpg
  apps/back/public/upload/resized-1692090935426-5-1.jpg
  apps/back/public/upload/resized-1692090935523-5-2.jpg
  apps/back/public/upload/resized-1692091062854-6-1.jpg
  apps/back/public/upload/resized-1692091062949-6-2.jpg
  apps/back/public/upload/resized-1692091168722-7-1.jpg
  apps/back/public/upload/resized-1692091168793-7-2.jpg
  apps/back/public/upload/resized-1692091430975-1-1.jpg
  apps/back/public/upload/resized-1692091431028-1-2.jpg
  apps/back/public/upload/resized-1692091781156-2-1.jpg
  apps/back/public/upload/resized-1692091781258-2-2.jpg
  apps/back/public/upload/resized-1692091894617-3-1.jpg
  apps/back/public/upload/resized-1692091894717-3-2.jpg
  apps/back/public/upload/resized-1692092004843-4-1.jpg
  apps/back/public/upload/resized-1692092004902-4-2.jpg
  apps/back/public/upload/resized-1692092106951-5-1.jpg
  apps/back/public/upload/resized-1692092107001-5-2.jpg
  apps/back/public/upload/resized-1692092197880-6-1.jpg
  apps/back/public/upload/resized-1692092197930-6-2.jpg
  apps/back/public/upload/resized-1692092349881-7-1.jpg
  apps/back/public/upload/resized-1692092349986-7-2.jpg
  apps/back/public/upload/resized-1692092485318-8-1.jpg
  apps/back/public/upload/resized-1692092485347-8-2.jpg
Due: eslint, stylelint

feat: table sorting frontend
  apps/admin/src/modules/category/components/CategoryList.vue
  apps/admin/src/modules/category/pages/CategoryListPage.vue
  apps/admin/src/modules/category/services/index.ts
  apps/admin/src/modules/common/interface/index.ts
  apps/admin/src/modules/manager/components/ManagerList.vue
  apps/admin/src/modules/manager/pages/ManagerListPage.vue
  apps/admin/src/modules/manager/services/index.ts
  apps/admin/src/modules/manufacturer/components/ManufacturerList.vue
  apps/admin/src/modules/manufacturer/pages/ManufacturerListPage.vue
  apps/admin/src/modules/manufacturer/services/index.ts
  apps/admin/src/modules/product/components/ProductList.vue
  apps/admin/src/modules/product/pages/ProductListPage.vue
  apps/admin/src/modules/product/services/index.ts
  packages/helpers/src/composables/usePage.ts
  packages/ui/src/components/UiTable/UiTable.stories.ts
  packages/ui/src/components/UiTable/UiTable.vue
Due: eslint, stylelint

refactor: page query
  apps/admin/src/modules/category/components/CategoryList.vue
  apps/admin/src/modules/category/pages/CategoryListPage.vue
  apps/admin/src/modules/category/services/index.ts
  apps/admin/src/modules/common/interface/index.ts
  apps/admin/src/modules/manager/components/ManagerList.vue
  apps/admin/src/modules/manager/pages/ManagerListPage.vue
  apps/admin/src/modules/manager/services/index.ts
  apps/admin/src/modules/manufacturer/components/ManufacturerList.vue
  apps/admin/src/modules/manufacturer/pages/ManufacturerListPage.vue
  apps/admin/src/modules/manufacturer/services/index.ts
  apps/admin/src/modules/product/components/ProductList.vue
  apps/admin/src/modules/product/pages/ProductListPage.vue
  apps/admin/src/modules/product/services/index.ts
  packages/helpers/src/composables/usePage.ts
  packages/ui/src/components/UiTable/UiTable.vue
Due: eslint, stylelint

feat: sorting backend
  apps/admin/src/modules/manufacturer/components/ManufacturerList.vue
  apps/admin/src/modules/manufacturer/pages/ManufacturerListPage.vue
  apps/back/src/helpers/index.ts
  apps/back/src/interface/index.ts
  apps/back/src/routes/api/category/index.ts
  apps/back/src/routes/api/manager/index.ts
  apps/back/src/routes/api/manufacturer/index.ts
  apps/back/src/routes/api/product/index.ts
  packages/ui/src/components/UiTable/UiTable.vue
Due: eslint, stylelint

feat: mousepad dump
  apps/admin/src/modules/category/components/CategoryForm.vue
  apps/admin/src/modules/category/components/CategoryList.vue
  apps/admin/src/modules/category/pages/CategoryListPage.vue
  apps/admin/src/modules/manager/components/ManagerForm.vue
  apps/admin/src/modules/manager/components/ManagerList.vue
  apps/admin/src/modules/manager/pages/ManagerListPage.vue
  apps/admin/src/modules/manufacturer/components/ManufacturerForm.vue
  apps/admin/src/modules/manufacturer/components/ManufacturerList.vue
  apps/admin/src/modules/manufacturer/pages/ManufacturerListPage.vue
  apps/admin/src/modules/product/components/ProductForm.vue
  apps/admin/src/modules/product/components/ProductList.vue
  apps/admin/src/modules/product/pages/ProductListPage.vue
  apps/back/dump/mhz/categories.bson
  apps/back/dump/mhz/manufacturers.bson
  apps/back/dump/mhz/products.bson
  apps/back/public/upload/resized-1692187760509-razer.png
  apps/back/public/upload/resized-1692188199846-logitech.png
  apps/back/public/upload/resized-1692189499244-1.jpg
  apps/back/public/upload/resized-1692189798042-2.jpg
  apps/back/public/upload/resized-1692189980413-3.jpg
  apps/back/public/upload/resized-1692190033754-4.jpg
  apps/back/public/upload/resized-1692190095925-5.jpg
  apps/back/public/upload/resized-1692190156898-6.jpg
  apps/back/public/upload/resized-1692190213747-7.jpg
  apps/back/public/upload/resized-1692190283733-8.jpg
  apps/back/public/upload/resized-1692190353220-9.jpg
  apps/back/public/upload/resized-1692190444039-10.jpg
  apps/back/public/upload/resized-1692190517918-11.jpg
  apps/back/public/upload/resized-1692190587717-12.jpg
  apps/back/public/upload/resized-1692190737803-13.jpg
  apps/back/src/helpers/index.ts
  packages/helpers/src/composables/usePage.ts
  packages/ui/src/components/UiTable/UiTable.vue
Due: eslint, stylelint

feat: mouse dump
  apps/admin/package.json
  apps/back/dump/mhz/categories.bson
  apps/back/dump/mhz/manufacturers.bson
  apps/back/dump/mhz/products.bson
  apps/back/package.json
  apps/back/public/upload/resized-1692208601152-hyper-x-.png
  apps/back/public/upload/resized-1692208729412-1-1.jpg
  apps/back/public/upload/resized-1692208729508-1-2.jpg
  apps/back/public/upload/resized-1692208856359-1-1.jpg
  apps/back/public/upload/resized-1692208856456-1-2.jpg
  apps/back/public/upload/resized-1692209152581-2-1.jpg
  apps/back/public/upload/resized-1692209152633-2-2.jpg
  apps/back/public/upload/resized-1692209299531-3-1.jpg
  apps/back/public/upload/resized-1692209299580-3-2.jpg
  apps/back/public/upload/resized-1692209408422-4-1.jpg
  apps/back/public/upload/resized-1692209408513-4-2.jpg
  apps/back/public/upload/resized-1692209490781-5-1.jpg
  apps/back/public/upload/resized-1692209490873-5-2.jpg
  apps/back/public/upload/resized-1692209604185-1-1.jpg
  apps/back/public/upload/resized-1692209604282-1-2.jpg
  apps/back/public/upload/resized-1692209875365-2-1.jpg
  apps/back/public/upload/resized-1692209875462-2-2.jpg
  apps/back/public/upload/resized-1692210011055-1-1.png
  apps/back/public/upload/resized-1692210011123-3-2.jpg
  apps/back/public/upload/resized-1692210128768-1-1.png
  apps/back/public/upload/resized-1692210128931-1-2.jpg
  apps/back/public/upload/resized-1692210202702-2-1.jpg
  apps/back/public/upload/resized-1692210202802-2-2.jpg
  apps/back/public/upload/resized-1692210278923-3-1.jpg
  apps/back/public/upload/resized-1692210279016-3-2.jpg
  apps/back/public/upload/resized-1692210342913-4-1.jpg
  apps/back/public/upload/resized-1692210342949-4-2.jpg
  package-lock.json
  package.json
  packages/helpers/package.json
  packages/ui/package.json
  packages/ui/src/components/UiTable/UiTable.vue
  packages/validate/package.json
Due: eslint, stylelint

feat: all manufacturers and categories dump
  apps/back/dump/mhz/categories.bson
  apps/back/dump/mhz/manufacturers.bson
  apps/back/public/upload/resized-1692211461686-samsung.png
  apps/back/public/upload/resized-1692211607919-Palit_logo.png
  apps/back/public/upload/resized-1692211814147-Apacer.png
Due: none

feat: monitors dump
  apps/admin/src/modules/product/components/ProductFieldsForm.vue
  apps/back/dump/mhz/products.bson
  apps/back/public/upload/resized-1692255785993-1.png
  apps/back/public/upload/resized-1692255959553-2.jpg
  apps/back/public/upload/resized-1692256486951-3.jpg
  apps/back/public/upload/resized-1692256613342-4.jpg
  apps/back/public/upload/resized-1692256685195-5.jpg
  apps/back/public/upload/resized-1692256777879-6.jpg
  apps/back/public/upload/resized-1692256848097-7.jpg
  apps/back/public/upload/resized-1692256959296-8.jpg
  apps/back/public/upload/resized-1692257041638-9.jpg
  apps/back/public/upload/resized-1692257167881-10.jpg
  apps/back/public/upload/resized-1692257436461-1.jpg
  apps/back/public/upload/resized-1692257512337-2.jpg
  apps/back/public/upload/resized-1692257678911-3.jpg
  apps/back/public/upload/resized-1692257754172-4.jpg
  apps/back/public/upload/resized-1692257858249-5.jpg
  apps/back/public/upload/resized-1692258075547-6.jpg
  apps/back/public/upload/resized-1692258174053-7.jpg
  apps/back/public/upload/resized-1692258247776-8.jpg
  apps/back/public/upload/resized-1692258342583-9.jpg
  apps/back/public/upload/resized-1692258435713-10.png
  packages/ui/src/components/UiInput/UiInput.vue
Due: eslint, stylelint

feat: psu and keyboards dump
  apps/back/dump/mhz/categories.bson
  apps/back/dump/mhz/products.bson
  apps/back/public/upload/resized-1692259946948-11.jpg
  apps/back/public/upload/resized-1692260705053-1.jpg
  apps/back/public/upload/resized-1692260788141-2.jpg
  apps/back/public/upload/resized-1692261082629-3.jpg
  apps/back/public/upload/resized-1692261279548-4.jpg
  apps/back/public/upload/resized-1692261402122-5.jpg
  apps/back/public/upload/resized-1692261537726-6.jpg
  apps/back/public/upload/resized-1692261599772-7.jpg
  apps/back/public/upload/resized-1692261746522-8.jpg
  apps/back/public/upload/resized-1692261854978-9.jpg
  apps/back/public/upload/resized-1692261935013-10.jpg
  apps/back/public/upload/resized-1692262142535-11.jpg
  apps/back/public/upload/resized-1692262223245-1.jpg
  apps/back/public/upload/resized-1692262403242-2.jpg
  apps/back/public/upload/resized-1692262472141-3.jpg
  apps/back/public/upload/resized-1692262538070-4.jpg
  apps/back/public/upload/resized-1692263309170-5.jpg
  apps/back/public/upload/resized-1692263413867-1.jpg
  apps/back/public/upload/resized-1692263519407-2.jpg
  apps/back/public/upload/resized-1692263639513-3.jpg
  apps/back/public/upload/resized-1692263733264-4.jpg
  apps/back/public/upload/resized-1692263850381-5.jpg
  apps/back/public/upload/resized-1692263950336-6.jpg
  apps/back/public/upload/resized-1692264084333-7.jpg
  apps/back/public/upload/resized-1692264162824-1.jpg
  apps/back/public/upload/resized-1692264465068-2.jpg
  apps/back/public/upload/resized-1692264574487-3.jpg
  apps/back/public/upload/resized-1692264634815-4.jpg
  apps/back/public/upload/resized-1692264741908-5.jpg
  apps/back/public/upload/resized-1692264799791-6.jpg
  apps/back/public/upload/resized-1692264855912-7.jpg
Due: none

feat: ui modal
  packages/ui/src/assets/styles/colors.scss
  packages/ui/src/components/UiModal/UiModal.stories.ts
  packages/ui/src/components/UiModal/UiModal.vue
  packages/ui/src/components/index.ts
  packages/ui/src/docs/Colors.mdx
Due: eslint, stylelint

feat: ram dump
  apps/admin/package.json
  apps/back/dump/mhz/products.bson
  apps/back/public/upload/resized-1692368921294-11.jpg
  apps/back/public/upload/resized-1692369084241-1.jpg
  apps/back/public/upload/resized-1692369601991-2.jpg
  apps/back/public/upload/resized-1692369730430-3.jpg
  apps/back/public/upload/resized-1692369920987-4.jpg
  apps/back/public/upload/resized-1692370099072-5.jpg
  apps/back/public/upload/resized-1692370250223-6.jpg
  apps/back/public/upload/resized-1692370351990-7.jpg
  apps/back/public/upload/resized-1692370441643-1.jpg
  apps/back/public/upload/resized-1692370501723-2.jpg
  apps/back/public/upload/resized-1692370881172-3.jpg
  apps/back/public/upload/resized-1692370934248-4.jpg
  apps/back/public/upload/resized-1692371000991-5.jpg
  apps/back/public/upload/resized-1692371102779-6.jpg
  apps/back/public/upload/resized-1692371176714-7.jpg
  apps/back/public/upload/resized-1692371261913-8.jpg
  apps/back/public/upload/resized-1692371315012-9.jpg
  apps/back/public/upload/resized-1692371367718-10.jpg
  apps/back/public/upload/resized-1692371428891-11.jpg
  apps/back/public/upload/resized-1692371580194-12.jpg
  package-lock.json
  packages/helpers/package.json
  packages/ui/package.json
  packages/ui/src/docs/Colors.mdx
  packages/validate/package.json
Due: none

chore: update gitignore
  apps/back/.gitignore
Due: none

chore: update deps
  README.md
  apps/admin/package.json
  apps/back/package.json
  package-lock.json
  packages/helpers/package.json
  packages/ui/package.json
  packages/validate/package.json
Due: none

chore: update version
  apps/admin/.env.example
  apps/admin/package.json
  apps/admin/src/App.vue
  apps/admin/src/main.ts
  apps/back/package.json
  package-lock.json
  package.json
  packages/countries/package.json
  packages/helpers/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/validate/package.json
Due: eslint, stylelint

feat: site app folder
  apps/back/package.json
  apps/site/.env.example
  apps/site/.eslintrc.cjs
  apps/site/.gitignore
  apps/site/index.html
  apps/site/package.json
  apps/site/prettier.config.cjs
  apps/site/public/favicon.svg
  apps/site/public/fonts/400.woff2
  apps/site/public/fonts/700.woff2
  apps/site/public/robots.txt
  apps/site/src/App.vue
  apps/site/src/env.d.ts
  apps/site/src/main.ts
  apps/site/src/modules/common/assets/images/logo.svg
  apps/site/src/modules/common/assets/styles/main.scss
  apps/site/src/modules/common/constants/index.ts
  apps/site/src/modules/common/pages/ErrorPage.vue
  apps/site/src/modules/common/pages/MainPage.vue
  apps/site/src/modules/common/plugins/vue-query.ts
  apps/site/src/modules/common/router/index.ts
  apps/site/src/modules/common/router/routes.ts
  apps/site/src/modules/common/services/api.ts
  apps/site/src/modules/layout/components/LayoutDefault.vue
  apps/site/src/modules/layout/components/LayoutEmpty.vue
  apps/site/src/modules/layout/components/TheHeader.vue
  apps/site/stylelint.config.cjs
  apps/site/tsconfig.json
  apps/site/tsconfig.node.json
  apps/site/vite.config.ts
  package-lock.json
  packages/countries/package.json
  packages/types/package.json
  packages/ui/package.json
Due: eslint, stylelint

feat: ci site
  .github/workflows/ci.yml
Due: none

fix: ci site
  .github/workflows/ci.yml
Due: none

feat: base product card
  .github/workflows/ci.yml
  apps/site/.env.example
  apps/site/src/modules/category/constants/index.ts
  apps/site/src/modules/common/constants/index.ts
  apps/site/src/modules/common/pages/MainPage.vue
  apps/site/src/modules/product/components/ProductCard.vue
  apps/site/src/modules/product/components/ProductList.vue
  apps/site/src/modules/product/constants/index.ts
  apps/site/src/modules/product/services/index.ts
Due: eslint, stylelint

style: product card
  apps/site/src/modules/product/components/ProductCard.vue
  apps/site/src/modules/product/components/ProductList.vue
  apps/site/src/modules/product/icons/comparison.svg
  apps/site/src/modules/product/icons/favourites.svg
Due: eslint, stylelint

feat: base product page
  apps/back/src/routes/api/product/index.ts
  apps/site/src/modules/category/pages/CategoryPage.vue
  apps/site/src/modules/category/routes/index.ts
  apps/site/src/modules/common/pages/MainPage.vue
  apps/site/src/modules/common/router/routes.ts
  apps/site/src/modules/manufacturer/constants/index.ts
  apps/site/src/modules/manufacturer/pages/ManufacturerPage.vue
  apps/site/src/modules/manufacturer/routes/index.ts
  apps/site/src/modules/product/components/ProductActionButtons.vue
  apps/site/src/modules/product/components/ProductCard.vue
  apps/site/src/modules/product/components/ProductCatalogCard.vue
  apps/site/src/modules/product/components/ProductCatalogList.vue
  apps/site/src/modules/product/pages/ProductPage.vue
  apps/site/src/modules/product/routes/index.ts
  apps/site/src/modules/product/services/index.ts
Due: eslint, stylelint

feat: breadcrumbs
  apps/admin/src/modules/layout/components/PageTitle.vue
  apps/admin/src/modules/product/pages/ProductEditPage.vue
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/UiBreadcrumbs/UiBreadcrumbs.stories.ts
  packages/ui/src/components/UiBreadcrumbs/UiBreadcrumbs.vue
  packages/ui/src/components/index.ts
  packages/ui/vite.config.ts
Due: eslint, stylelint

feat: use breadcrumbs and head title in admin
  apps/admin/src/modules/auth/pages/LoginPage.vue
  apps/admin/src/modules/auth/pages/SetupPage.vue
  apps/admin/src/modules/category/pages/CategoryCreatePage.vue
  apps/admin/src/modules/category/pages/CategoryEditPage.vue
  apps/admin/src/modules/category/pages/CategoryListPage.vue
  apps/admin/src/modules/common/pages/ErrorPage.vue
  apps/admin/src/modules/common/pages/MainPage.vue
  apps/admin/src/modules/customer/pages/CustomerListPage.vue
  apps/admin/src/modules/customer/pages/CustomerPage.vue
  apps/admin/src/modules/layout/components/PageTitle.vue
  apps/admin/src/modules/manager/pages/ManagerCreatePage.vue
  apps/admin/src/modules/manager/pages/ManagerEditPage.vue
  apps/admin/src/modules/manager/pages/ManagerListPage.vue
  apps/admin/src/modules/manufacturer/pages/ManufacturerCreatePage.vue
  apps/admin/src/modules/manufacturer/pages/ManufacturerEditPage.vue
  apps/admin/src/modules/manufacturer/pages/ManufacturerListPage.vue
  apps/admin/src/modules/order/pages/OrderListPage.vue
  apps/admin/src/modules/product/pages/ProductCreatePage.vue
  apps/admin/src/modules/product/pages/ProductEditPage.vue
  apps/admin/src/modules/product/pages/ProductListPage.vue
  apps/admin/src/modules/shipment/pages/ShipmentListPage.vue
  packages/ui/src/components/UiBreadcrumbs/UiBreadcrumbs.vue
Due: eslint, stylelint

feat: confirm delete
  apps/admin/src/modules/category/components/CategoryList.vue
  apps/admin/src/modules/common/components/FormButtons.vue
  apps/admin/src/modules/manager/components/ManagerList.vue
  apps/admin/src/modules/manufacturer/components/ManufacturerList.vue
  apps/admin/src/modules/product/components/ProductList.vue
  apps/back/src/helpers/index.ts
  packages/ui/src/components/UiModal/UiModal.stories.ts
  packages/ui/src/components/UiModal/UiModal.vue
Due: eslint, stylelint

feat: manufacturers and categories pages
  apps/site/src/modules/category/components/CategoryCard.vue
  apps/site/src/modules/category/components/CategoryCatalogCard.vue
  apps/site/src/modules/category/components/CategoryCatalogList.vue
  apps/site/src/modules/category/pages/CategoryListPage.vue
  apps/site/src/modules/category/pages/CategoryPage.vue
  apps/site/src/modules/category/routes/index.ts
  apps/site/src/modules/category/services/index.ts
  apps/site/src/modules/layout/components/PageTitle.vue
  apps/site/src/modules/manufacturer/components/ManufacturerCard.vue
  apps/site/src/modules/manufacturer/components/ManufacturerCatalogCard.vue
  apps/site/src/modules/manufacturer/components/ManufacturerCatalogList.vue
  apps/site/src/modules/manufacturer/pages/ManufacturerListPage.vue
  apps/site/src/modules/manufacturer/pages/ManufacturerPage.vue
  apps/site/src/modules/manufacturer/routes/index.ts
  apps/site/src/modules/manufacturer/services/index.ts
  apps/site/src/modules/product/components/ProductCard.vue
  apps/site/src/modules/product/components/ProductCatalogCard.vue
  apps/site/src/modules/product/pages/ProductPage.vue
  packages/ui/src/components/UiBreadcrumbs/UiBreadcrumbs.stories.ts
Due: eslint, stylelint

feat: manufacturers and caterogies product filters
  apps/admin/src/modules/layout/components/LayoutDefault.vue
  apps/back/src/helpers/index.ts
  apps/back/src/interface/index.ts
  apps/back/src/plugins/static.ts
  apps/back/src/routes/api/product/index.ts
  apps/site/src/modules/category/pages/CategoryPage.vue
  apps/site/src/modules/layout/components/LayoutDefault.vue
  apps/site/src/modules/manufacturer/pages/ManufacturerPage.vue
  apps/site/src/modules/product/components/ProductCatalogCard.vue
  apps/site/src/modules/product/services/index.ts
  packages/helpers/src/composables/usePage.ts
  packages/ui/src/components/UiPagination/UiPagination.vue
Due: eslint, stylelint

chore: update deps
  apps/admin/package.json
  apps/back/package.json
  apps/back/src/helpers/index.ts
  apps/back/tsconfig.json
  apps/site/package.json
  package-lock.json
  package.json
  packages/countries/package.json
  packages/helpers/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/validate/package.json
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,ts,vue}
  stylelint: any of: **/*.{scss,vue}
